@using FirstProject___Test.Helpful;
@using FirstProject___Test.ViewModels;
@{
    ViewData["Title"] = "Home";
}
@{
    int postNumber = 1;
}



@model List<PostsHomeView>



<ul>
    @foreach (var post in Model)
    {
        <li>
            @if (!string.IsNullOrEmpty(post.url))
            {
               <a href="@post.url">@postNumber.@post.title</a>
            }
            else
            {
                <span>@postNumber.@post.title</span>
            }
            
            <br />
            by @post.username posted @TimeHelper.TimeAgo(post.createdAt) <a href="@Url.Action("ViewPost", "Post", new { id = post.postId })">@post.number_of_comments comments</a>

        </li>
        
            postNumber++;
        @if (User.Identity.IsAuthenticated && post.userToken == ViewBag.CurrentUserToken)
        {
            
            <a href="@Url.Action("Edit", "Post", new { id = post.postId })">Edit</a>
            <a href="@Url.Action("Delete","Post", new{id = post.postId})">Delete</a>
        }
    }
</ul>