@using FirstProject___Test.Helpful;
@using FirstProject___Test.ViewModels;
@{
    ViewData["Title"] = "Home";
}
@{
    int postNumber = 1;
}



@model List<PostsHomeView>




 
  <ul class ="list-group">
    @foreach (var post in Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-left">
            @if (!string.IsNullOrEmpty(post.url))
            {
               <a href="@post.url">@postNumber.@post.title</a>
            }
            else
            {
                <span>@postNumber.@post.title</span>
            }
            
            <br />
        <li class="list-group-item d-flex justify-align-content-between align-items-left">by @post.username posted @TimeHelper.TimeAgo(post.createdAt)  <a href="@Url.Action("ViewPost", "Post", new { id = post.postId })">@post.number_of_comments comments</a></li>

        </li>
        
            postNumber++;
        @if (User.Identity.IsAuthenticated && post.userToken == ViewBag.CurrentUserToken)
        {
            
            <a href="@Url.Action("Edit", "Post", new { id = post.postId })">Edit</a>
            <a href="@Url.Action("Delete","Post", new{id = post.postId})">Delete</a>
        }
    }
</ul>