@using FirstProjectRepository.UsefullModels
@using FirstProject___Test.Helpful
@model CommentWithReplies

<li>
    @if (Model.username != null)
    {
        <strong>@Model.username</strong>
    }
    @if (Model.createdAt != null)
    {
        @TimeHelper.TimeAgo(Model.createdAt)
    }
    @if (!string.IsNullOrEmpty(Model.text))
    {
        <p>@Model.text</p>
    }
    <a href="@Url.Action("AddReply","Comment",new{postId = Model.postId, parentCommentId=Model.id})">Reply</a>
    @if (User.Identity.IsAuthenticated && Model.userToken == ViewBag.CurrentUserToken)
    {
       
        <a href="@Url.Action("EditComment", "Comment", new { commentId = Model.id })">Edit</a>
        <a href="@Url.Action("Delete", "Comment", new { commentId = Model.id })">Delete</a>
    }
   
    

    @if (Model.replies != null && Model.replies.Any())
    {
        <ul>
            @foreach (var reply in Model.replies)
            {
                @await Html.PartialAsync("_Replies", reply)

            }
        </ul>
    }
</li>
